export K8SV="{{ k8s_version }}-*"
export calico_url="https://projectcalico.docs.tigera.io/archive/v{{ calico_version }}/manifests/tigera-operator.yaml"
export longhorn_url="https://raw.githubusercontent.com/longhorn/longhorn/v{{ k8s_longhorn_version }}/deploy/longhorn.yaml"
export metrics_url="https://github.com/kubernetes-sigs/metrics-server/releases/download/metrics-server-helm-chart-{{ metrics_server_version }}/components.yaml"
export ingress_url="https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v{{ ingress_version }}/deploy/static/provider/cloud/deploy.yaml"
export prometheus_url="https://github.com/prometheus-operator/kube-prometheus/archive/refs/heads/release-{{ k8s_prometheus_version }}.zip"
