---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
bootstrapTokens:
- groups:
  - system:bootstrappers:kubeadm:default-node-token
  token: {{ k8s_join_token }}
  ttl: 2h0m0s
  usages:
  - signing
  - authentication
nodeRegistration:
  kubeletExtraArgs:
    node-ip: {{ k8s_initial_master }}
{% if k8s_allow_scheduling_masters %}
  taints: []
{% endif %}
localAPIEndpoint:
  advertiseAddress: {{ k8s_initial_master }}
certificateKey: "{{ k8s_certificate_key }}"
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: {{ k8s_version }}
apiServer:
  extraArgs:
    service-node-port-range: 80-32767
networking:
  podSubnet: "{{ k8s_pod_cidr }}"
controlPlaneEndpoint: "{{ k8s_control_plane_endpoint }}:6443"
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
serverTLSBootstrap: true
