[Unit]
Description=iperf server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart=/usr/bin/iperf3 -s

[Install]
WantedBy=multi-user.target